<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uci.entrenamiento_muscular_estabilizador">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".EntrenaminetoMusculoEstabilizador"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EntrenamientoMuscularEstabilizador">
        <activity
            android:name=".ui.view.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.BloqueTresActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.BloqueDosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.BloqueUnoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.TestsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.PersonDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.PersonsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.MainActivity"
            android:exported="true"
            android:label="Stabilizer Muscle Tests">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>